.company {
    color: $text;
    text-align: center;

    transition: background-color 0.35s;

    &:hover {
        background-color: $white-ter;

        transition: background-color 0.35s;
    }
}

.company.is-3 { font-size: 10rem }

.company.is-2 {
    font-size: 5rem;

    .title { font-size: 1.25rem }
    .subtitle { font-size: 1rem }
}
