#contact {
    @extend .flex-center;

    .email {
        color: $black;
        font-size: $size-4;

        &:hover { color: $grey }
    }

    .textarea-container {
        position: relative
    }

    .textarea-counter {
        color: $input-placeholder-color;

        opacity: 0;
        position: absolute;
        bottom: 0.5em;
        right: 0.625em;

        transition: opacity 0.75s ease;

        &.is-active { opacity: 1 }
    }
}
