$main-color: #689f38;
$secondary-color: darken($main-color, 2.5%);

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.subtitle-center {
    max-width: 500px;
    text-align: center;
}

.button.is-black {
    transition: background-color 0.35s;

    &:hover {
        background-color: lighten($black, 10%);
        transition: background-color 0.35s;
    }
}
