.hero.summary {
    background-color: $main-color;
    color: $white-ter;

    .content { align-self: center }

    .title { color: $white-ter }
    .subtitle { color: rgba($white-ter, 0.9) }

    .hero-body .columns { flex: 1 }
}

.subtitle-list {
    position: relative;

    .subtitle-list-item {
        position: absolute;
        margin: auto 0;
        left: -100%;
        right: 0;

        white-space: nowrap;

        opacity: 0;

        &.is-active { animation: slide-across 3.5s linear infinite }
    }
}
